*{
    box-sizing: border-box;
}
body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: roboto;
    background: rgb(194,210,211);
    background: linear-gradient(58deg, rgba(194,210,211,1) 0%, rgba(88,191,255,1) 76%);
    overflow: hidden;
    margin: 0;
}
.key{
    border: 1px solid #000;
    background-color: aqua;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.6);
    display: inline flex;
    align-items: center;
    font-size: 23px;
    padding: 20px;
    flex-direction: column;
    margin: 30px;
    font-weight: bold;
    min-width: 150px;
    position: relative;
}
.key small{
    position: absolute;
    top: -29px;
    left: 0;
    text-align: center;
    width: 100%;
    color:black;
    font-size: 14px;
}